@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #242424;
}

h1, h2, .extand {
    font-family: 'Aboreto', cursive;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}
p, h4 {
    font-family: 'Baloo 2', cursive;
    color: #dedede;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
}

.webgl {
    position: relative;
    top: 0;
    left: 0;
    outline: none;
    z-index: -5;
}

.colorPicker {
    color: #30787a;
}

.overlayRenderer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlayRenderer .__position {
    width: 40%;
    margin-left: auto;
    margin-right: 50px;
}
.overlayRenderer .__extra .icon {
    display: flex;
    position: relative;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: -moz-fit-content;
}
.overlayRenderer .__extra .icon::before {
    position: absolute;
    content: '';
    transform: scale(1);
    bottom: -5px;
    left: 0; right: 0;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background-color: #85FFBD;
}

section {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 32px;
}

.about main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px 10px;
}

.about #cards {
    width: 80%;
    height: inherit;
    display: flex;
}

#picture {
    width: 30%;
    height: 4*50px;
    /* overflow: hidden; */
    position: relative;
}

#card {
    width: 70%;
}

#cards .__back, #cards .__front {
    display: flex;
    height: 50px;
    object-fit: cover;
}
#cards .__back:hover, #cards .__front:hover {
    cursor: pointer;
}

#cards .__front {
    width: 100%;
}

#cards .__front.img {
    display: flex;
    position: absolute;
    z-index: 5;
    transition: height .2s cubic-bezier(0.65, 0.05, 0.36, 1),
                margin .2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

#cards .__front.img.__full {
    position: absolute;
    display: flex;
    top: 0;
    z-index: 10;
    height: 100%;
}

#cards .__back {
    width: 100%;
    margin: 0 20px;
}

#cards .__text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_stack {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_stack .__desc {
    width: 40%;
}

.card_stack .__icons {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
